
nav {
  padding-top: 0;
  padding-bottom: 100;
}

#navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

.divider {
  border-top: 1px solid;
  border-color: lightgray;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
}

[data-theme="light"]
.title {
  color: darkslategray;
}

[data-theme="dark"]
.title {
  color: lightgray;
}

.content {
  margin-top: 30px;
}

header nav li a img,
header nav li a svg {
  width:  1.1rem;
  height: 1.1rem;
  margin: 3px;
  color: var(--contrast);
}

.logo {
  color: var(--h1-color);
  font-weight: bold;
  font-size: 1.2rem;
}

pre {
  background: var(--pre-background);
}

@media screen and (min-width: 768px) {
  pre code.hljs {
    padding-left: 60px; 
  }
}